.vscode/**
**/*.ts
**/*.map

**/.gitignore
**/tsconfig.json
**/tsconfig.base.json

**/*.tsbuildinfo
**/pnpm-lock.yaml
**/.eslintignore
**/.eslintrc.cjs


readme/**
node_modules/**

**/node_modules/@types/**
**/node_modules/**/README.md

publish.sh
